<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/main.css">
    <title>Редактирование вакансии</title>
</head>
<body>
    <header class="header">
        <nav>
            <a href="/users">Учетные записи</a>
            <a href="/createVacancy">Создать вакансию</a>
            <a href="/viewsResume">Просмотр резюме</a>
            <a href="/viewsVacancy">Просмотр вакансий</a>
        </nav>
        <div class="header__logout">
            <a href="/logout">Выйти</a>
        </div>
    </header>

    <main class="main">
        <div class="main__block">

            <% if(data.length){ data.forEach(vacancy => { %>
            <form class="main__new-vacancy" action="" method="post">
                <input type="input" hidden value="<%= vacancy.id%>">
                <span>Название вакансии:</span>
                <input type="text" name="name" class="name-vacancy" placeholder="" required value=<%= vacancy.name%>>

                <span>Описание:</span>
                <textarea name="description" id="" cols="60" rows="3"><%= vacancy.description%></textarea>

                <span>Обязанности:</span>
                <textarea name="respons" id="" cols="35" rows="5"><%= vacancy.respons%></textarea>

                <span>Требования:</span>
                <textarea name="requirements" id="" cols="35" rows="5"><%= vacancy.requirements%></textarea>

                <span>Условия:</span>
                <textarea name="conditions" id="" cols="35" rows="5"><%= vacancy.conditions%></textarea>

                <span>Опыт работы:</span>
                <select name="experience" id="" required value=<%= vacancy.experience%>>
                    <option value="1">1 год</option>
                    <option value="2">2 год</option>
                    <option value="3">3 год</option>
                    <option value="4">4 год</option>
                    <option value="5">5 год</option>
                </select>

                <span>Заработная плата:</span>
                <div>
                    <input name="pay" type="text" placeholder="">
                    <input type="checkbox" name="pay_checkbox" id="his-pay">
                    <label for="his-pay">Договорная</label>
                </div>

                <span>График работы:</span>
                <select name="schedule" id="">
                    <option value="5/2">5/2</option>
                    <option value="2/2">2/2</option>
                    <option value="indiv">Свой</option>
                </select>

                <span>Время:</span>
                <select name="timework" id="">
                    <option value="8-17">8:00 - 17:00</option>
                    <option value="9-18">9:00 - 18:00</option>
                    <option value="10-19">10:00 - 19:00</option>
                </select>

                <input type="submit" name="button_action" value="Сохранить вакансию">
            </form>
            <% }) %>
            <% }else{ %>
                <span>No data ever existed.</span>
            <% } %>

        </div>
    </main>
</body>
</html>