<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/main.css">
    <title>Вакансии</title>
</head>
<body>
    <header class="header guest">
        <nav>
            <a href="/users">Список вакансий</a>
        </nav>
    </header>

    <main class="main">
        <div class="main__block main-guest">

            <% if(data.length){ data.forEach(vacancy => { %>
            <form class="main__resume resume-guest" method="post">
                <input hidden name="vacancyBlock_id" value=<%= vacancy.id%>>
                <h2><%= vacancy.name%></h2>
                <h4><%= (vacancy.pay_checkbox == 'on') ? "Договорная з/п": ("от " + vacancy.pay + " Руб.")%></h4>
                <span>Требуемый опыт работы: <%= vacancy.experience%> год</span>
                <span>График работы: <%= vacancy.schedule%> <%= vacancy.timework%></span>
                <div>
                    <input type="submit" value="Откликнуться">
                </div>
            </form>
            <% }) %>
            <% }else{ %>
                <span>No data ever existed.</span>
            <% } %>
        </div>
    </main>

    <footer class="footer footer_index">
        <div class="footer__block">
            <span>О нас</span>
            <span>Контакты</span>
        </div>
        <span>© 2023</span>
    </footer>
</body>
</html>