<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/main.css">
    <title>Отправка резюме</title>
</head>
<body>
    <header class="header guest">
        <nav>
            <a href="/Vacancy">Список вакансий</a>
        </nav>
    </header>

    <main class="main">
        <div class="main__block main-form">

            <% if(data.length){ data.forEach(vacancy => { %>
                <form class="main__vacancy vacancy-form" action="" method="post">
                    <input hidden id="vacancy_id" name="vacancyBlock_id" value=<%= vacancy.id%>>
                    <b><span>Название вакансии:</span></b>
                    <span><%= vacancy.name%></span>
    
                    <b><span>Описание:</span></b>
                    <p>
                        <%= vacancy.description%>
                    </p>
    
                    <b><span>Обязанности:</span></b>
                    <p>
                        <%= vacancy.respons%>
                    </p>
    
                    <b><span>Требования:</span></b>
                    <p>
                        <%= vacancy.requirements%>
                    </p>
    
                    <b><span>Условия:</span></b>
                    <p>
                        <%= vacancy.conditions%>
                    </p>
                    
    
                    <b><span>Опыт работы:</span></b>
                    <span><%= vacancy.experience%></span>
    
                    <b><span>Заработная плата:</span></b>
                    <span><%= (vacancy.pay_checkbox == 'on') ? "Договорная": (vacancy.pay + " Руб")%></span>
    
                    <b><span>График работы:</span></b>
                    <span><%= vacancy.schedule%> <%= vacancy.timework%></span>

                </form>
            <% }) %>
            <% }else{ %>
                <span>No data ever existed.</span>
            <% } %>

            <form class="vacancy__data-form" action="" method="post">
                <h2>Оставьте свои контакты, чтобы работодатель мог связаться с вами</h2>
                <div class="form_inside-block">
                    <span>Почта:</span>
                    <input type="email" name="email" id="" required>
                    <span>Телефон:</span>
                    <input type="phone" name="phone" id="" required>
                    <span>ФИО:</span>
                    <input type="text" name="nameUser" required>
                    <label for="file">Приложить резюме</label>
                    <input type="file" id="file" name="file" multiple />
                    <input type="submit" value="Отправить">
                </div>
            </form>

    </main>

    <footer class="footer">
        <div class="footer__block">
            <span>О нас</span>
            <span>Контакты</span>
        </div>
        <span>© 2023</span>
    </footer>
</body>
</html>